<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>
<body>
    <div class="row" style="margin: 20px;">
        <div style="width: 24rem;">
            <form action="enviar" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="idi" class="form-label">Idioma</label>
                    <input type="text" name="idi" id="idi" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="mens" class="form-label">Mensagem</label>
                    <input type="text" name="mens" id="mens" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="arq" class="form-label">Imagem</label>
                    <input type="file" name="arq" id="arq" class="form-control">
                </div>

                <div class="mb-3">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" style="width:22rem;">
                </div>
            </form>

</body>
</html>